@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f0e9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f0e9;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Sellviny";
  src: url("/fonts/Sellviny\ Queen.otf");
  font-style: normal;
}

@font-face {
  font-family: "Sharp";
  src: url("/fonts/SharpGrotesk-Medium15.otf");
  font-style: normal;
}

@font-face {
  font-family: "Rose";
  src: url("/fonts/RoseL.woff2");
  font-style: normal;
}
